table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.CartGoodsDesktop__goods-info {
    display: flex;
    @media (min-width: 480px){
        margin: 20px 0;
        text-align: left;
    }
}

.CartGoodsDesktop__goods-info-inner {
    padding: 0 12px;
}

.CartGoodsDesktop__goods-info-name {
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #222222;
    margin-bottom: 10px;
    word-break: break-all;
}