.Store_navbar{
    width: 100%;
    display: flex;
    justify-content: center;
    h1 {
        color: #1b1d1f;
		margin-left: 1em;
		font-weight: bold;
		display: flex;
		justify-content: center;
    }
}