.Store_navbar{
    width: 100%;
    display: flex;
    justify-content: center;
    h1 {
        color: #1b1d1f;
		margin-left: 1em;
		font-weight: bold;
		display: flex;
		justify-content: center;
    }
}



.menu__mobile-button{
    float: right;
    height: 32px;
    padding: 6px;
    margin-top: 8px;
    display: none !important; /* use of important to overwrite ant-btn */
    background: #3e91f7;
}

@media (max-width: 842px) {
	.Store_navbar{
		display: none;
    }
    .menu__mobile-button{
        display: inline-block !important;
    }
}