.feTtOu {
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
    padding-left: 0.3125rem;
    padding-right: 0.3125rem;
    flex: 0 1 auto;
    @media screen and (min-width: 64em) {
        max-width: 45.625rem;
        width: 58.3333%;
        padding-left: 0.25rem;
        padding-right: 0.25rem;
    }
}

.jbpLml {
    box-sizing: border-box;
    border-color: rgb(232, 235, 237);
    border-radius: 0px;
    border-style: solid;
    border-width: 0px;
    overflow: hidden;
    @media screen and (min-width: 64em){
        border-radius: 8px;
        border-width: 1px;
    }
}

.hOkNKG {
    position: relative;
    display: block;
    transform: translateZ(0px);
    backface-visibility: hidden;
    overflow: hidden;
    background-size: cover;
}

.ecDCYM.lazy.loaded {
    opacity: 1;
}

.ecDCYM.lazy {
    opacity: 0;
    transition-timing-function: ease-in-out;
    transition-duration: 250ms;
    transition-property: opacity;
}

.ecDCYM {
    display: block;
    width: auto;
    height: 300px;
    object-fit: cover;
    object-position: center center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}