.modal_container {
	display: flex;
	justify-content: flex-start;
	width: 955px;
	height: 851px;
	.modal_image {
		width: 50%;
		height: 75%;
		img {
			width: 400px;
			height: 90%;
			// background-color: black;
		}
		div {
			width: 100%;
			height: 100%;
		}
		.image-gallery-thumbnails-wrapper bottom {
			width: 20%;
			height: 10%;
		}
	}
	.modal_info{
		width: 400px;
		.button{
			background-color: #1b1d1f;
		color: #ffffff;
		border-radius: 30px;
		margin-top: 1em;
		margin-right: 1em;
		font-size: 18px;
		padding: 2em auto;
		border: none;
		}
	}
}
