.comments_from_user{
    height: 400px;
    overflow: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}


.comments_from_user::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}


 .comments_input{
    .inputstyle{
        width: 300px;
    }
 }
 .post_user_info{
     display: flex;
     
 }