.jCusAo {
    box-sizing: border-box;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    overflow: hidden;
    @media screen and (min-width: 64em) {
        max-width: 80rem;
        width: 80rem;
    }
}

.frHBaV {
    box-sizing: border-box;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    @media screen and (min-width: 64em) {
        margin-bottom: 6.25rem;
        margin-top: 10.5rem;
        margin-left: 1.25rem;
        margin-right: 1.25rem;
    }
}

.cka-dPy {
    box-sizing: border-box;
    display: none;
    max-width: 45.625rem;
    margin-bottom: 1.25rem;
    @media screen and (min-width: 64em) {
        display: block;
    }
}

.kompeH {
    box-sizing: border-box;
    font-size: 1.5rem;
    letter-spacing: -0.025rem;
    line-height: 1.33;
    color: rgb(27, 29, 31);
    font-weight: 700;
    display: -webkit-box;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    max-height: 3.99rem;
    -webkit-line-clamp: 2;
    margin: 0px;
    overflow: hidden;
    text-decoration: none;
    
    @media screen and (min-width: 64em) {
        max-height: 3.99rem;
    }
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.kxZXxz {
    box-sizing: border-box;
    display: flex;
    margin-left: -0.3125rem;
    margin-right: -0.3125rem;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    //background-color: rgba(235, 235, 235, 0.534);
    @media screen and (min-width: 64em){
        flex-direction: row;
    }
    @media screen and (min-width: 64em) {
        margin-left: -0.25rem;
        margin-right: -0.25rem;
    }
}

.feTtOu {
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
    padding-left: 0.3125rem;
    padding-right: 0.3125rem;
    flex: 0 1 auto;
}

.jbpLml {
    box-sizing: border-box;
    border-color: rgb(232, 235, 237);
    border-radius: 0px;
    border-style: solid;
    border-width: 0px;
    overflow: hidden;
}

.iojNJW {
    box-sizing: border-box;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-color: rgb(232, 235, 237);
    border-radius: 0px;
    border-style: solid;
    border-width: 0px;
    
    @media screen and (min-width: 64em){
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        border-radius: 8px;
        border-width: 1px;
    }
}

.jagbpb {
    box-sizing: border-box;
    display: block;
    margin-top: 0.9375rem;
    margin-bottom: 0.9375rem;
    
    @media screen and (min-width: 64em){
        display: none;
    }
}

.cxbvIt {
    box-sizing: border-box;
    font-size: 0.875rem;
    letter-spacing: -0.025rem;
    line-height: 1.43;
    color: rgb(27, 29, 31);
    font-weight: 400;
    display: -webkit-box;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    max-height: 2.5025rem;
    -webkit-line-clamp: 2;
    margin: 0px;
    overflow: hidden;
    text-decoration: none;
    @media screen and (min-width: 64em){
        max-height: 2.5025rem;
    }
}