.nav_container {
	display: flex;
	justify-content: space-between;
	height: 8vh;
	background: #ffffff;
	align-items : center;
	width: 100%;
	position: relative;
	// .part_section{
	// 	display: flex;
	// 	justify-content: flex-end;
	// }
}
